.me-3 {
    margin: 0 !important;
}

form .btn.btn-outline-success {
    color: #088434;
    border-color: #088434;
}

form .btn.btn-outline-success:hover {
    color: #fff;
    background-color: #088434;
}

@media screen and (max-width: 992px) {
    #searchbar {
        width: 100%;
    }
}

@media screen and (max-width: 520px) {
    #logo {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    button#about {
        margin-top: 30px !important;
    }
}