.accordion-item {
    border: none;
}

.accordion-button {
    padding: 7px;
    font-size: 1.1rem;
}

.accordion-button:not(.collapsed) {
    color: black;
    background: #fff;
}

.accordion-button:focus {
    box-shadow: none;
}