.accordion-item {
    border: none;
}

.accordion-button {
    padding: 7px;
    font-size: 1.1rem;
}

.accordion-button:not(.collapsed) {
    color: black;
    background: #fff;
}

.accordion-button:focus {
    box-shadow: none;
}

.form-check-input:focus {
    border-color: #088434;
    box-shadow: 0 0 0 0.25rem rgba(8, 132, 52, 50%);
}

.form-check-input:checked {
    background-color: #088434;
    border-color: #088434;
}

@media screen and (max-width: 992px) {
    span.filterCategory {
        font-size: 1.25rem !important;
    }

    .accordion-button, .accordion-body, .form-check-label {
        font-size: 1.1rem;
    }
    
    .accordion-body {
        padding: 5px 1px;
    }
}