.dropdown-toggle.btn-primary {
    background: #000;
    border-color: #000;
    color: #fff;
    --bs-btn-active-bg: #000;
}

.dropdown-toggle.btn-primary.show {
    background: #fff;
    border-color: #fff;
    color: #000;
}

.dropdown-toggle.btn:hover {
    background: #fff;
    border-color: #fff;
    color: #000;
}

ul.pagination li span {
    background-color: #088434 !important;
    border-color: #088434 !important;
}

ul.pagination li a {
    color: #088434 !important;
}

@media screen and (max-width: 500px) {
    #brandbar {
        width: 80% !important;
        margin-top: 10px !important;
    }
}

@media screen and (max-width: 500px) {
    #brandbar {
        width: 80% !important;
        margin-top: 10px !important;
    }
}